<h4>Categories</h4>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <!--Sidebar content-->
      Search: <input ng-model="query">
<!--       Sort by:
      <select ng-model="orderProp">
        <option value="name">Alphabetical</option>
        <option value="age">Newest</option>
      </select> -->
    </div>

    <div class="col-md-10">
      <!--Body content-->

      <!-- list all categories but filter tools by query -->
      <ul class="categories">
        <li ng-repeat="category in categories" class="category">
          <h5>{{category.name}}</h5>
          <p>{{category.description}}</p>

           <ul class="category-tools">
            <li ng-repeat="tool in category.tools | filter:query" class="category-tool">
              <a href="#/tool/{{tool.id}}">{{tool.name}}</a>
              <!-- <p>{{tool.description}}</p> -->
            </li>
          </ul>

        </li>
      </ul>


    </div>
  </div>
</div>