<h4><span class="categories-detail-id">{{tool.name}}</span> Tool</h4>

<div>{{longDescription}}</div>

<p>Input: </p>
<textarea ng-model="input" class="tool-input-area"></textarea>

<p>Tool: {{$scope.toolId}}</p>

<p>Options: </p>
<textarea ng-model="options" ng-change="optionsChanged()" class="tool-options-area"></textarea>

<p>Output: </p>
<textarea class="tool-output-area">{{execTool()}}</textarea>

<p>Tool Error: </p>
<textarea class="tool-error-area" ng-model="toolError"></textarea>

<!-- <button ng-click="someAction1(item, $event)">Send AJAX Request</button> -->
